body {
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}

h1 {
  background-color: #eeeeee;
  padding: 20px;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}
