i {
	font-size:20px;
}
li a {
	font-size:20px;
}


*{
	font-family: 'Open Sans', sans-serif;
}

.thick{
	font-weight: bold;
	font-size: 70px;
}
.content{
	padding-top: 50px;
}
.row-content{
	padding-left: 70px;
}
.row-faculty{
	padding-bottom:20px;
}
.footer-right{
	text-align: right;
}
.footer{
	padding-top: 50px;
}
.hr {
	border: 1px lightgrey solid;
	margin: 10px;
}
.location {
	padding-bottom: 20px;
}
#table-faculty {
	padding-bottom: 20px;
}

.contenthover { padding:20px 20px 10px 20px;}
.contenthover, .contenthover h3, contenthover a { color:white; text-align:center; padding-top:40px;}
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0;}
.contenthover a.mybutton { display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.contenthover a.mybutton:hover { background:#34742d }