{% extends 'area.html' %}
{% block sidebar %}
<!--Sidebar 2
======================================================-->
<div class="sidebar" id="sidebar1">
	<p class="pull" id="pull2">Choose another faculty!</p>
	<form hidden class="form-horizontal select-faculty" method="get" action="/study-choose">
		<h4>Choose another faculty!</h4>
		<div class="form-group">
			<select class="form-control" id="select-pull" name="study-select">
				<option value="everywhere">EVERYWHERE</option>
				<option value="arts and social sciences">Arts and Social Sciences</option>
				<option value="business">Business</option>
				<option value="computing">Computing</option>
				<option value="design and environment">Design and Environment</option>
				<option value="engineering">Engineering</option>
				<option value="music">Music</option>
				<option value="science">Science</option>
				<option value="utown">Utown</option>
			</select>		
		</div>
		<h4>Filter by:</h4>
		<div class="form-group amenities">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="wantsChairs"> Chairs
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="wantsSofas"> Sofas
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="wantsTables"> Tables
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="wantsSockets"> Sockets
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="wantsAircon"> Air-Conditioning
				</label>
			</div>
		</div>
		<button class="btn btn-danger" id="toggle" type="submit">GO!</button>
		<button class="btn btn-default" id="toggle" type="reset">Clear</button>
	</form>
</div>
{% endblock %}

{% block content %}
<div class="col-md-7">
<h3>This area has</h3>
<h3>{{Area.numSeats}} SEATS, 
{% if Area.sofas %} 
some are SOFAS
{% else %}
none are SOFAS
{% endif %}
</h3>
{% if Area.sofas %}

{% endif %}
<h3>{{Area.numTables}} TABLES</h3>
<h3>{{Area.numSockets}} SOCKETS</h3>
{% if Area.aircon %}
<h3>Has AIR-CONDITIONING</h3>
{% else %}
<h3>Has no AIR-CONDITIONING</h3>
{% endif %}
</div>
<div class="col-md-5">
<!--Carousel-->
<div id="myCarousel" class="carousel slide">

	<ol class="carousel-indicators">
		<li data-target="myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="myCarousel" data-slide-to="1"></li>
		<li data-target="myCarousel" data-slide-to="2"></li>
	</ol>
	
	<div class="carousel-inner">
		<div class="item active">
			<img src="{{Area.image1}}"/>
		</div>
		<div class="item">
			<img src="{{Area.image2}}"/>
		</div>
		<div class="item">
			<img src="{{Area.image3}}"/>
		</div>
	
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>

</div>
</div>
{% endblock %}