<!DOCTYPE html>
<html>

  <head>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
		<link type="text/css" rel="stylesheet" href="css/logo-nav.css"/>
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<title>SecondHome</title>
  </head>

  <body>
		<!--Navbar
		======================================================-->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<img id="logo" src="img/logosmall.png"/>
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/study" class="nav-options"><i class="fa fa-graduation-cap"></i> Study</a></li>
						<li><a href="/shop" class="nav-options"><i class="fa fa-shopping-cart"></i> Shop</a></li>

						<li><a href="/poop" class="nav-options"><span><i class="fa fa-male"></i><i class="fa fa-female"></i></span> Poop</a></li>
						<li class="active"><a href="/contact" class="nav-options active" ><i class="fa fa-envelope"></i> Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--Contact
		======================================================-->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Contact Form</h2><br/>
					<form class="form-horizontal" action="/contact-submit" method="post">
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-7">
								<input name="name" type="text" class="form-control" placeholder="Enter Name" />
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-7">
								<input name="email" type="text" class="form-control" placeholder="Enter Email" />
							</div>
						</div>
						<div class="form-group">
							<label for="message" class="col-sm-2 control-label">Message</label>
							<div class="col-sm-7">
								<textarea rows="5" name="message" class="form-control" placeholder="Enter Message"></textarea>
							</div>
						</div>
						<div class="col-sm-offset-2 col-sm-7">
								<button type="submit" class="btn btn-danger">Submit</button>
								<button type="reset" class="btn btn-default">Clear</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		
		
		
		<!--Footer
		======================================================-->
		
		<div class="container footer footer-right">
			<div class="row">
				<div class="col-md-12">
					<br/>
					<p>Created by Xing Yi and Josephine | Team HopelesslyLost</p>
					
				</div>
			</div>
		</div>
		
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
		<script src="js/contentHover.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#d1, #d2, #d3, #d4').contenthover({
					overlay_background:'gold',
					overlay_opacity:1.0
				});
			});
		</script>
  </body>

</html>
